.Birthstone{
    font-family: Birthstone;
}

.paralax{
    background-image: url("https://res.cloudinary.com/drhmcuxiy/image/upload/v1787102990/marjonhorn-rape-or-colza-seeds-4150528_fvh7gi.jpg");
    min-height: 350px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
